In [1]:
import json
import random
import uuid
import pandas as pd
import matplotlib.pyplot as plt
# import Levenshtein
import enchant 
from pyvi import ViTokenizer

In [2]:
def load_jsonfile(path):
    list_data = []
    for line in open(path, 'r'):
        list_data.append(json.loads(line))
    df = pd.DataFrame.from_dict(list_data)
    return df

In [3]:
def equal_word(ca,cb,threshold):
    diff = enchant.utils.levenshtein(ca, cb)
    len_target = len(cb) + len(cb)
    
    if len_target != 0:
        equal = float(abs(len_target - diff)/len_target)
        print(equal)
        if equal >= threshold:
            return True
        else:
            return False
    else:
        return False

In [4]:
ca = 'b00'
cb = 'a'
threshold = 0.6
equal_word(ca,cb,threshold)

0.5

False

In [6]:
db_path = '/home/taindp/PycharmProjects/thesis/data/database_full_feature.json'
df_db = load_jsonfile(db_path)

In [7]:
df_db.head(1)

,major_code,major_name,type_edu,point,year,career,subject,tuition,subject_group,case,criteria,object,register
0,[112],[kỹ thuật dệt],[đại học chính quy đại trà],[23.5],[2020],[quản lý vận hành các dây chuyền sản xuất sợi ...,"[toán, vật lý, tiếng anh]",[320000 việt nam đồng],"[a01, a1]",[thi tốt nghiệp trung học phổ thông],[90],[tất cả các thí sinh có kết quả thi tốt nghiệp...,"[đăng ký dự thi kỳ thi tốt nghiệp thpt 2021, đ..."

In [8]:
# # capitalize() major_name
# list_major_name = list(df_db['major_name'])
# list_major_name_capi = [[item[0].capitalize()] for item in list_major_name]
# # list_major_name_capi
# df_db['major_name'] = list_major_name_capi

In [9]:
dict_replace_type_edu = {}
dict_replace_type_edu['đại học chính quy đại trà'] = ['chính quy', 'đại trà']
dict_replace_type_edu['chương trình chất lượng cao tiên tiến'] = ['chất lượng cao', 'tiên tiến']
dict_replace_type_edu['phân hiệu bến tre'] = ['phân hiệu bến tre']

In [10]:
# list_type_edu

In [11]:
# split type_edu
list_type_edu = list(df_db['type_edu'])
list_type_edu_replace = [dict_replace_type_edu[item[0]] for item in list_type_edu]
df_db['type_edu'] = list_type_edu_replace

In [12]:
# list_type_edu_replace

In [13]:
df_db.head(1)

,major_code,major_name,type_edu,point,year,career,subject,tuition,subject_group,case,criteria,object,register
0,[112],[kỹ thuật dệt],"[chính quy, đại trà]",[23.5],[2020],[quản lý vận hành các dây chuyền sản xuất sợi ...,"[toán, vật lý, tiếng anh]",[320000 việt nam đồng],"[a01, a1]",[thi tốt nghiệp trung học phổ thông],[90],[tất cả các thí sinh có kết quả thi tốt nghiệp...,"[đăng ký dự thi kỳ thi tốt nghiệp thpt 2021, đ..."

In [14]:
# # capitalize() subject
# list_subject = list(df_db['subject'])
# list_subject_capi = []
# for item in list_subject:
#     item_capi = [subitem.capitalize() for subitem in item]
#     list_subject_capi.append(item_capi)
# df_db['subject'] = list_subject_capi

In [15]:
# replace tuition
dict_replace_tution = {}
dict_replace_tution['320000 việt nam đồng'] = '5.850.000'
dict_replace_tution['1850000 việt nam đồng'] = '30.000.000'
list_tuition = list(df_db['tuition'])
list_tuition_replace = [[dict_replace_tution[item[0]]] for item in list_tuition]
df_db['tuition'] = list_tuition_replace

In [16]:
# # capitalize() subject_group
# list_subject_group = list(df_db['subject_group'])
# list_subject_group_capi = []
# for item in list_subject_group:
#     item_capi = [subitem.capitalize() for subitem in item]
#     list_subject_group_capi.append(item_capi)
# # list_subject_group_capi
# df_db['subject_group'] = list_subject_group_capi

In [36]:
# # capitalize() case
# list_case = list(df_db['case'])
# list_case_capi = [[item[0].capitalize()] for item in list_case]
# # list_case_capi
# df_db['case'] = list_case_capi

In [17]:
dict_replace_object = {}
dict_replace_object['tất cả các thí sinh có kết quả thi tốt nghiệp thpt 2021'] = 'Thi tốt nghiệp THPT năm 2021'.lower()
dict_replace_object['học sinh giỏi thuộc các trường thpt chuyên năng khiếu'] = 'Học sinh các trường Chuyên và Năng khiếu'.lower()
dict_replace_object['tốt nghiệp thpt năm 2021'] = 'Thi tốt nghiệp THPT năm 2021'.lower()
dict_replace_object['học sinh giỏi từ 2 năm trở lên đối với học sinh các trường thpt chuyên năng khiếu thực hành sư phạm'] = 'Học sinh giỏi 2 năm trở lên'.lower()
dict_replace_object['học sinh giỏi 3 năm đối với các trường thpt còn lại trong danh sách'] = 'Học sinh giỏi 3 năm trở lên'.lower()
dict_replace_object['thành viên đội tuyển của trường hoặc tỉnh thành tham dự kỳ thi học sinh giỏi quốc gia'] = 'Thành viên đội tuyển tham dự Học sinh giỏi quốc gia'.lower()
dict_replace_object['có hạnh kiểm tốt trong năm lớp 10 lớp 11 và lớp 12'] = 'Hạnh kiểm tốt trong 3 năm'.lower()
dict_replace_object['chỉ áp dụng một lần đúng năm học sinh tốt nghiệp thpt'] = 'Áp dụng một lần đúng năm học sinh tốt nghiệp THPT'.lower()
dict_replace_object['tất cả các thí sinh có kết quả kỳ đánh giá năng lực do đại học quốc gia tp hcm tổ chức'] = 'Thi đánh giá năng lực ĐHQG-TPHCM'.lower()

In [19]:
# dict_replace_object

In [20]:
list_object = list(df_db['object'])
list_object_replace = []
for item in list_object:
    sublist_replace = []
    for subitem in item:
        sublist_replace.append(dict_replace_object[subitem])
    list_object_replace.append(sublist_replace)
df_db['object'] = list_object_replace

In [21]:
# list_reg = list(df_db['register'])
# list_reg_capi = []
# for item in list_reg:
#     sublist_reg = []
#     for subitem in item:
#         sublist_reg.append(subitem.capitalize().replace('thpt','THPT'))
#     list_reg_capi.append(sublist_reg)
    
# df_db['register'] = list_reg_capi

In [22]:
# list_career = list(df_db['career'])
# list_career_capi = []

# for item in list_career:
#     sublist_career_capi = []
#     for subitem in item:
#         sublist_career_capi.append(subitem.capitalize())
#     list_career_capi.append(sublist_career_capi)
# # list_career_capi

In [23]:
# df_db['career'] = list_career_capi

In [42]:
# file_career = open('/home/taindp/PycharmProjects/edit_data/career.txt','w')
# for item in list_career_capi:
#     for idx,subitem in enumerate(item):
#         if idx < len(item) - 1:
#             file_career.write(subitem)
#             file_career.write(',')
#         else:
#             file_career.write(subitem)
#     file_career.write('\n')

In [30]:
list_point = list(df_db['point'])
list_point_fix = [[float(item[0])] for item in list_point]
df_db['point'] = list_point_fix

In [33]:
list_criteria = list(df_db['criteria'])
list_criteria_fix = [[int(item[0])] for item in list_criteria]
df_db['criteria'] = list_criteria_fix

In [36]:
# list_criteria_fix

In [34]:
df_db.head(1)

,major_code,major_name,type_edu,point,year,career,subject,tuition,subject_group,case,criteria,object,register
0,[112],[kỹ thuật dệt],"[chính quy, đại trà]",[23.5],[2020],[quản lý vận hành các dây chuyền sản xuất sợi ...,"[toán, vật lý, tiếng anh]",[5.850.000],"[a01, a1]",[thi tốt nghiệp trung học phổ thông],[90],[thi tốt nghiệp thpt năm 2021],"[đăng ký dự thi kỳ thi tốt nghiệp thpt 2021, đ..."

In [38]:
dict_db = df_db.to_dict('records')
export_db_mongo = open('/home/taindp/PycharmProjects/thesis/data/database_normalize.json','w')
for item in dict_db:
    item2str = str(item)
    itemjson = item2str.replace(r"'",r'"').replace(r'"[',r'[').replace(r']"',r']')
    export_db_mongo.write(itemjson)
    export_db_mongo.write('\n')